
WebApplication1/.vs/WebApplication1/v17/.suo
WebApplication1/WebApplication1/bin/Debug/net6.0/WebApplication1.pdb
WebApplication1/WebApplication1/bin/Debug/net6.0/WebApplication1.dll
WebApplication1/WebApplication1/bin/Debug/net6.0/WebApplication1.pdb
WebApplication1/WebApplication1/obj/Debug/net6.0/WebApplication1.dll
WebApplication1/WebApplication1/obj/Debug/net6.0/WebApplication1.pdb
