
WebApplication1/.vs/WebApplication1/v17/.suo
WebApplication1/WebApplication1/bin/Debug/net6.0/WebApplication1.pdb
WebApplication1/WebApplication1/bin/Debug/net6.0/WebApplication1.dll
WebApplication1/WebApplication1/bin/Debug/net6.0/WebApplication1.pdb
WebApplication1/WebApplication1/obj/Debug/net6.0/WebApplication1.dll
WebApplication1/WebApplication1/obj/Debug/net6.0/WebApplication1.pdb
WebApplication1/.vs/WebApplication1/FileContentIndex/48280953-eb69-4ed8-86ee-f2ec5d70a322.vsidx
